.block-5{
    min-height: 760px;
}

.block-5-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 95px;
    padding-bottom: 85px;
}

.block-5__header-container{
    max-width: 564px;
    text-align: center;
    margin-bottom: 65px;
}

.block-5__header-container > h2{
    font-family: 'Raleway SemiBold';
    font-size: 45px;
    color: #061e37;
    margin-bottom: 15px;
}

.block-5__header-container > p{
    font-family: 'Raleway Regular';
    font-size: 15px;
    line-height: 25px;
    color: #b0bec5;
}

.block-5__socnet-links-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-items: baseline;
}


/*SLIDER*//*/////////////////////////////////*/
/*///////////////////////////////////////////*/
.block-5__slider-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.block-5__slider-img-elemns-box{
    max-width: 500px;
    overflow: hidden;
    padding: 0 20px;
}

.block-5__slider-img-elems-track{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    transition: transform 0.25s;
}

.block-5__slider-img-box{
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(195, 195, 195, 0.451);
    transition: padding 0.75s, background-color 1s, box-shadow 1s;
}

.block-5__slider-img-box > img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    transition: width 0.2s, height 0.2s;
}


.block-5__slider-img-box.block-5__slider-img-box__is_btn{
    padding: 0;
    box-shadow: none;
    background-color: #ffffff;
}

.block-5__slider-img-box.block-5__slider-img-box__is_btn > img{
    width: 100px;
    height: 100px;
    opacity: 0.45;
}


/*text slider*/
.block-5__slider-text-elems-container{
    max-width: 655px;
    overflow: hidden;
    margin-bottom: 25px;
}

.block-5__slider-text-elems-track{
    display: flex;
    flex-direction: row;
}

.block-5__slider-text-box{
    min-width: 655px;
    text-align: center;
}

.block-5__slider-text-box > h3{
    font-family: 'Raleway Bold';
    font-size: 18px;
    line-height: 25px;
    color: #061e37;
    margin-bottom: 20px;
}

.block-5__slider-text-box > p{
    font-family: 'Raleway Regular';
    font-size: 15px;
    line-height: 25px;
    color: #90a4ae;
}



@media (min-width: 576px){
    
}

@media (min-width: 768px){

}

@media (min-width: 992px){
   
}

@media (min-width: 1200px){

}

@media (min-width: 1400px){

}

@media (max-width: 575.98px) {
    
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

   
}

@media (max-width: 1199.98px) {

}

@media (max-width: 1399.98px) {
    
}



@media (min-width: 576px) and (max-width: 767.98px){

}

@media (min-width: 768px) and (max-width: 991.98px){
   
}

@media (min-width: 992px) and (max-width: 1199.98px){
    
}

@media (min-width: 1200px) and (max-width: 1399.98px){
   
}

@media (min-width: 1400px){
    
}