@font-face {
    font-family: 'Lato Black';
    src: url('./fonts/Lato/Lato-Black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Light';
    src: url('./fonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Regular';
    src: url('./fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Cardo Bold';
    src: url('./fonts/Cardo/Cardo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}